.right-area {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.right-area .important-link-item {
  background-image: linear-gradient(45deg, #131b43, #242c54, #2aabd2);
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: row-reverse;
  gap: 2px;
  align-items: center;
  gap: 10px;
}
.right-area .important-link-item:hover {
  border-right: 5px solid red;
  border-left: none;
}
.right-area .important-link-item .image-div {
  background-color: black;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 50px 0 0 50px;
}

.right-area .important-link-item .image-div img {
  width: 40px;
  height: 40px;
  border-radius: 50px 0 0 50px;
}
