.topHeader {
  background: linear-gradient(
      -145deg,
      rgba(255, 255, 255, 0) 10%,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(19, 27, 67, 1) 70%
    ),
    linear-gradient(
      145deg,
      rgba(150, 150, 255, 0) 80%,
      rgba(60, 111, 162, 0.8) 20%
    ),
    linear-gradient(
      125deg,
      rgba(255, 255, 255, 0) 70%,
      rgba(60, 111, 190, 0.7) 30%
    ),
    linear-gradient(
      -200deg,
      rgba(60, 111, 180, 0.9) 60%,
      rgba(60, 111, 190, 0.8) 40%
    );

  padding: 20px 0;
  width: 100%;
}

.topHeader .container {
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  margin: auto;
  justify-content: space-between;
}
.topHeader .container .left {
  width: 100%;

  display: flex;
  align-items: center;
}
.topHeader .container .left img {
  width: 80%;
}
.topHeader .container .middle {
  width: 100%;

  color: white;
  text-align: center;
  font-weight: bold;
}
.topHeader .container .right {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: end;
}


.topHeader .container .right img {
    width: 60px;
}